@model IEnumerable<ALFMovers.Models.Customer>

@{
    ViewBag.Title = "List";
}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- START CUSTOM TABS -->

        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="box box-primary">

                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="box-header with-border">
                                <h3 class="box-title"><strong>List of Transactions</strong></h3>
                                <div class="nav-tabs-right">
                                    <ul class="nav nav-tabs pull-right">
                                        <li class="pull-left header"></li>
                                        <li class="active"><a href="#tab_1" data-toggle="tab">For Schedule</a></li>
                                        <li><a href="#tab_2" data-toggle="tab">Pending</a></li>
                                        <li><a href="#tab_3" data-toggle="tab">Finished</a></li>
                                    </ul>
                                </div>


                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <table id="emp" class="table table-bordered table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>Customer Name</th>
                                                    <th>Contact</th>
                                                    <th>Schedule Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.CustName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CustContact)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.SchedDate)</td>
                                                        <td>
                                                            <a href="/Customer/Details/@Html.DisplayFor(modelItem => item.CustID)" type="button" class="btn btn-md btn-success">View</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_2">
                                        <table id="emp" class="table table-bordered table-hover">
                                            <thead>
                                                <tr role="row">
                                                    <th>Customer Name</th>
                                                    <th>Contact</th>
                                                    <th>Schedule Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.CustName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CustContact)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.SchedDate)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                  
                                    <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    <!-- Start of Truck -->
                                    <table id="emp" class="table table-bordered table-hover">
                                        <thead>
                                            <tr role="row">
                                                <th>Customer Name</th>
                                                <th>Schedule Date</th>
                                                <th>Payment</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.CustName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.SchedDate)</td>
                                                    <td></td>
                                                    <td>
                                                        <a href="/Customer/Details/@Html.DisplayFor(modelItem => item.CustID)" type="button" class="btn btn-md btn-success">View</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>



                                        <!-- End of Truck -->



                                    </div>
                                    <!-- /.tab-pane -->
                                </div></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/myjquery.js"></script>