@model ALFMovers.Models.Employee
@Layout
@{
    ViewBag.Title = "Details";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Employee Details</h3>

            </div>
            <div class="box-body">
                <label>Employee Name: </label><br />
                @Html.DisplayFor(model => model.EmpFName) @Html.DisplayFor(model => model.EmpLName)<br /><br />
                <label>Contact: </label><br />
                @Html.DisplayFor(model => model.EmpContact)    <br />      <br />
                <label>Position:</label><br />
                @Html.DisplayFor(model => model.Position)    <br />   <br />
                <label>Contact</label><br />
                @Html.DisplayFor(model => model.EmpContact)      <br />  <br />
                <label>Date of Joined:</label><br />
                @Html.DisplayFor(model => model.EmpJoined)<br /><br />
                <label>License Number:</label><br />
                @Html.DisplayFor(model => model.EmpLicense)<br /><br />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <a href="@Url.Action("Index","Employee")" type="button" class="btn btn-primary">Back</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>